@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --couleur-fond-principal: #00ff2a;
    --couleur-fond-principal-foncee: #003cff;
    --couleur-fond-text: rgb(251, 251, 251);
    --couleur-texte-principal: #000000;
    --couleur-ombre: rgb(49, 49, 49);
}

h1 {
    padding-top: 80px;
    scale: 2;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h2 {
    margin-bottom: 40px;
    text-align: center;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

body {
    margin-top: 20px;
    background: var(--couleur-fond-principal);
    background: linear-gradient(-10deg, var(--couleur-fond-principal) 0%, var(--couleur-fond-principal-foncee) 100%) no-repeat;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    min-height: 250vh;
    color: var(--couleur-texte-principal);
    width: 100%;

}

.logo {
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 60px;
}

.images-saison {
    display: flex;
    margin-left: 60px;
    height: 100px;
    gap: 420px;

}

.saison {
    height: 150px;
    
}
a {
    color: #000000;
}
.images-de-papa {
    display: flex;
    margin-left: 60px;
    height: 100px;
    gap: 420px;

}
.navbar {
    margin-top: -20px;
    background: rgb(4, 250, 7);
    padding: 10px;
    left: 0px;
    right: 0px;
    box-shadow: 0 0 10px -4px black;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;}
    
    .dropdown {
        position: absolute;
        display: inline-block;
        right: 20px;
    }
    
    .dropdown-child {
        display: none;
        background-color: blue;
        min-width: 200px;
    
        position: absolute;
        right:0;
    }
    
    .dropdown-child a {
        color: white;
        padding: 20px;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid rgb(46, 0, 171);
    }
    .dropdown-child a:last-of-type{
        border-bottom: none;
    }
    
    .dropdown-child a:hover {
        background-color: rgb(46, 0, 171);
    }
    
    .dropdown:hover .dropdown-child {
        display: block;
    }