@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
h2{
    text-align: center;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
   }
body{
    background-color: rgb(199, 251, 251);
}
.logo{
    display: flex;
    justify-content: center;
}